* {
  font-family: Roboto,sans-serif;
}

/* Header */

img.logo {
  float: left;
  margin: 5px 20px;
}

h1.title {
  color: orange;
  font-size: 2em;
  font-style: italic;
  text-shadow: 2px 2px #000;
}

/* Body */

h2::first-letter {
  font-size: 1.8em;
  font-weight: 700;
}

h3 {
  font-size: 1.4em;
}

a {
  color: orange;
  font-weight: 700;
}

a:hover {
  color: green;
}

li {
  line-height: 1.6em;
}

/* Footer */

footer {
  font-size: .8em;
  text-align: center;
}